* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
/* ssa */}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    gap: calc(35%/3);
    padding: 1.5rem 5rem
}

.container .column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container .content-wrapper.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 10rem;

}

.column .title-nav {
    font-family: monospace, Inconsolata;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    font-size: 24px;
    word-wrap: break-word
}

.column .author{
    
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    color: #BDBDBD;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word
    
}

.column .author a{
    display: flex;
    justify-content: center;
    margin: 0 5px;
    
    color: #BDBDBD;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 700;
    text-decoration: underline;
    word-wrap: break-word
    
}

.content-wrapper .img-404 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.img-404 img {
    max-width: 539px;
    height: 447px;
}

.text-content.column {
    width: 100%;
    height: 100%;
    gap: 5.3rem;
}

.column .title {
    width: 80%;
    color: #333333;
    font-size: 65px;
    font-weight: 700;
    word-wrap: break-word
}

.column .paragraph {
    width: 50%;
    color: #4F4F4F;
    font-size: 24px;
    font-weight: 400;
    word-wrap: break-word;
}

.column .btn-home {
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
    width: 30%;
    height: 68px;

    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
    * {
        transition: width 0.2s ease, padding 0.1s ease, height 0.1s ease;
    }

    .container {
        padding: 1rem 2rem;
    }

    .container .content-wrapper.row {
        display: flex;
        align-items: center;
        flex-direction: column;

        gap: 3rem;
        transition: gap 0.3s linear, visibility;
    }


    .content-wrapper .img-404 {
        width: 100%;
    }

    .img-404 img {
        width: auto;
        height: auto;

        max-width: 287px;
        max-height: 238px;
    }

    .column .title {
        width: 100%;

        font-size: 48px;
        transition: font-size 0.3s linear, visibility;
    }

    .column .paragraph {
        width: 100%;
        font-size: 18px;
        transition: font-size 0.3s linear, visibility;
    }

    .column .btn-home {
        width: auto;
        max-width: 60%;
    }

    .column .author{
        margin: 15px;
    }

}

/* Estilos para tabletas */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    * {
        transition: width 0.1s ease, padding 0.1s ease, height 0.1s ease;
    }

    .container {
        padding: 1rem 2rem;
    }

    .container .content-wrapper.row {
        display: flex;
        align-items: center;

        gap: 3rem;
        transition: gap 0.3s linear, visibility;
    }


    .content-wrapper .img-404 {
        width: 100%;
    }

    .img-404 img {
        width: auto;
        height: auto;

        max-width: 287px;
        max-height: 238px;
    }

    .column .title {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 48px;
        transition: font-size 0.3s linear, visibility;
    }

    .column .paragraph {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 18px;
        transition: font-size 0.3s linear, visibility;
    }

    .column .btn-home {
        width: auto;
        max-width: 40%;
        display: flex;

    }

    .text-content.column {
        display: flex;
        justify-content: center;
    }

    .column .author{
        margin: 15px;
    }
}